node-linker=hoisted

strict-peer-dependencies=true

package-lock=false

use-lockfile=true

git-checks=false

prefer-offline=true
shamefully-hoist=false

production=false

color=true

fetch-retries=3
fetch-timeout=60000
